.center-index
{
    min-height: 100vh;
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(20,24,82,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.center-sports
{
    min-height: 100vh;
    text-align: center;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 20%, rgba(251,79,20,1) 100%, rgba(255,255,255,1) 100%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.center-music
{
    min-height: 100vh;
    text-align: center;
    background: rgb(175,0,30);
    background: linear-gradient(180deg, rgba(175,0,30,1) 0%, rgba(81,0,28,1) 50%, rgba(43,0,58,1) 100%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.center-travel
{
    min-height: 100vh;
    text-align: center;
    background-color: #d2c7f9;
    font-family: Arial, Helvetica, sans-serif;
}

.center-about
{
    min-height: 100vh;
    text-align: left;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    font-family: Arial, Helvetica, sans-serif;
}

.center-small
{
    text-align: center;
    font-size: small;
}

.large
{
    font-size: large;
}

.medium
{
    font-size: medium;
}

.small
{
    font-size: small;
}
.background
{
    background-color: #191970;
}

.video
{
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.pfp
{
    height: 200px;
}

hr
{
    background-color: transparent;
    border-style: none;
    height: 2px;
    width: 30%;
}

